body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    background-color: rgb(212, 209, 209);
}


* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: rgb(188, 99, 15);
}

h2 {

    color: rgb(123, 119, 119);
}

.social-link {
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(123, 119, 119);
}

/* nav styles */
.menu {
    background-color: rgba(86, 83, 83, 0.196);
    border: none;
    color: rgb(123, 119, 119);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
}

.nav-links {
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(123, 119, 119);
}

.nav-links a:hover,
.nav-links a:focus {
    color: rgb(188, 99, 15);
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-right: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding-right: 20px;
    }

    .menu {
        display: none;
    }
}